        <footer class="footer-custom">
            <div class="container">
                <div class="row">
                    <div class="span10 offset1">
                        <div class="well well-small">
                            Copyright &copy; 28Sports, LLC, 1.0 |
                            <a href="mailto:feedback@28sports.com">Feedback: feedback@28sports.com</a> |
                            <a href="#privacyModal" role="button" data-toggle="modal">Privacy Policy</a> |
                            <a href="#termsModal" role="button" data-toggle="modal">Terms</a> |
                            <a href="#copyModal" role="button" data-toggle="modal">Copyright</a>
                        </div>
                    </div>
                </div>
            </div>
                <div id="termsModal" class="modal hide fade">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Terms and Conditions</h3>
                  </div>
                  <div class="modal-body">
                    <h3>Eligibility</h3>
                    <p>You must be 13 years of age or older to open an account at 28Sports.</p>
                    <h3>Use and Responsibility</h3>
                    <p>28Sports is committed to protecting the intellectual property of third parties. By using 28Sports you agree you will not upload or submit content that is protected by copyright you do not own. Repeat infringements may result in termination of your account.</p>
                    <p>The following behaviors are forbidden:</p>
                    <p>Submitting or posting content that advocates hate, violence or breaking the law;</p>
                    <p>threatening, harassing, intimidating, abusive, vulgar, deceiving or misleading;</p>
                    <p>unauthorized advertising, spam, chain letters, pyramid schemes or similar solicitations;</p>
                    <p>obtaining or manipulating personal information of third parties, including email addresses, telephone numbers, mailing addresses, social security numbers or credit cards.</p>
                    <p>Accessing data not intended for you;</p>
                    <p>attempting to probe or scan the vulnerability of the system or network, or to breach security;</p>
                    <p>copy in any manner 28Sport content;</p>
                    <p>sending unsolicited mail or email, or make unsolicited telephone calls or faxes regarding promotions, advertising to a user of the site;</p>
                    <p>delete or modify any content posted by another user;</p>
                    <p>taking any action that creates an unreasonably large load on the site's infrastructure;</p>
                    <p>posting any content that is objectionable or diminishes the enjoyment of other users or may expose 28Sports or its users to any harm of any type.</p>
                    <p>28Sports will remove, based on our sole judgement, any content we deem violates the above terms as soon as we are aware of the content. A violation of these terms may result in termination of your account.</p>
                    <p>Specific items that are not allowed on 28Sports:</p>
                    <p>Materials pertaining to Holocaust denial, graphic nudity, depictions of sexual fetish, racial slurs or bullying, photoshopped photos of any nature. Physical trauma (mutilation) if the person posting the image or material takes pleasure in the depiction or if internal organs are shown. Dead animals, advocacy of violence, advocacy of eating disorders, pixelated or blacked-out images that are sexually explicit or showing sexual activity, digital/cartoon nudity. Images of drunk or sleeping people with drawings on their face. Video or images of schoolyard fights. Marijuana use is tolerated as long as the image does not depict growing, selling or buying.</p>
                    <p>Art nudity is OK. </p>
                    <h3>Celebrity Usernames</h3>
                    <p>28Sports, LLC reserves the right to reserve celebrity names.  Example: The username michaeljordan is reserved for Michael Jordan the former NBA basketball player. </p>
                  </div>
                  <div class="modal-footer">
                    <a data-dismiss="modal" class="btn">Close</a>
                  </div>
                </div>

                <div id="privacyModal" class="modal hide fade">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Privacy Policy</h3>
                  </div>
                  <div class="modal-body">
                  <p>We collect the email addresses and user names of users. This information is not shared with or sold to other organizations. The only exception to this is if we are served with a binding subpoena in a legal investigation.</p>
                    <h3>Information Gathered</h3>
                    <p>When you register to use 28Sports, we ask for information such as your name and email address. We use this information to initiate and authenticate your account, contact you and in general research.</p>
                    <h3>Cookies</h3>
                    <p>Cookies are used to record current session information. We do not use use permanent cookies.</p>
                    <h3>Data Storage</h3>
                    <p>28Sports uses third party vendors and hosting partners to provide the hardware, software, storage and related technology to run 28Sports. Although 28Sports, LLC owns the code, databases and all rights to 28Sports application, you retain all rights to your data. Data is not stored once your account is canceled.</p>
                    <h3>Changes</h3>
                    <p>28Sports, LLC may update this policy from time to time. We will notify you via email regarding any significant changes to this policy.</p>
                    <h3>Questions</h3>
                    <p>Contact us at <a href="mailto:feedback@28sports.com">Feedback: feedback@28sports.com</a>.</p>
                  </div>
                  <div class="modal-footer">
                    <a data-dismiss="modal" class="btn">Close</a>
                  </div>
                </div>
        </footer>


